body {
  font-family: "Inter";
 
  margin-top: 0;
  padding: 0;
  width: 100%;
}

header .promo {
  background-color: #2f2f2f;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

header .promo a {
  color: white;
  text-decoration: underline;
  margin-left: 2px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-g {
  color: black;
}

.logo-s {
  color: #1e90ff;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.contact {
  display: flex;
  align-items: center;
}

.contact .phone a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

.contact .icons a {
  margin-left: 10px;
}

.contact .icons img {
  width: 24px;
  height: 24px;
}


#details-container {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
}

.image-section img {
  width: 300px;
  height: auto;
  max-width: 400px;
  object-fit: cover;
}

.text-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-section p {
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #333;
}

.korzinka-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.korzinka-button:hover {
  background-color: #0056b3;
}
